<!DOCTYPE html>

<html lang="en" ng-app="BSMEAN" ng-strict-di>
<head>
    <title>{% block title %} BookStore MEAN {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BookStore application">

    {% block stylesheets %}
        <!-- build:css(.) /css/bsmean.min.css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/fullpage.js//jquery.fullPage.css">
        <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bower_components/brandfont/css/brandfont.css">        
        <link rel="stylesheet" href="/bower_components/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="/bower_components/bootstrap-star-rating/css/star-rating.min.css">
        <link rel="stylesheet" href="/public/assets/stylesheets/bsmean.css">
        <!-- endbuild -->
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="/public/assets/images/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <!-- build:js(.) /js/bsmean.min.js -->
            <script src="/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/bower_components/angular/angular.min.js"></script>
            <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
            <script src="/bower_components/ng-infinite-scroller-origin/build/ng-infinite-scroll.min.js"></script>
            <script src="/bower_components/bootstrap-star-rating/js/star-rating.min.js"></script>
            <script src="/bower_components/angular-animate/angular-animate.min.js"></script>            
            <script src="/public/controllers/bsmean.js"></script>
            <script src="/public/controllers/productController.js"></script>
            <script src="/public/controllers/orderController.js"></script>
            <script src="/public/controllers/userController.js"></script>
            <!-- endbuild -->
        {% endblock %}
    </body>
</html>
