{% extends 'layout.html' %} 

{% block content %}
<div ng-controller="OrderController">
    <div ng-init="loadCarts()"></div>
    <h2>My Shopping Cart</h2>
    <hr>
    <div class="table-responsive">
        <div class="pull-right">
            <a href="/" class="btn btn-warning">Continue Shopping <i class="fa fa-briefcase"></i></a>
            <a data-toggle="modal" data-target="#paymentModal" href="#" class="btn btn-success">Check out ! <i class="fa fa-credit-card"></i></a>
        </div>
        <div class="clearfix"></div>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>PICTURE</th>
                    <th>NAME</th>
                    <th>AUTHOR</th>
                    <th>COMPANY</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td>
                        <img class="img-responsive" width="75" height="115" ng-src="/api/getImage/{[ item._id ]}">
                    </td>
                    <td>
                        <h5><a href="/api/description/{[ item._id ]}">{[ item.name ]}</a>
                        </h5>
                    </td>
                    <td>{[ item.author ]}</td>
                    <td>{[ item.company ]}</td>
                    <td>{[ item.price | number:2 ]}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="pull-right bs-total-price">
            <strong>Total price:</strong>
            <span> <i class="fa fa-euro"></i>{[ getTotalPriceInCart() | number:2 ]}</span>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="pull-right">
            <a href="/" class="btn btn-warning">Continue Shopping <i class="fa fa-briefcase"></i></a>
            <a data-toggle="modal" data-target="#paymentModal" href="#" class="btn btn-success">Check out ! <i class="fa fa-credit-card"></i></a>
        </div>
    </div>

    <!-- Modal -->
    <div class="form-group" ng-controller="UserController">
        <div class="bs-payment-modal modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="Payment window" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Payment information</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-bind-html="modalBody"></div>
                        <!-- Warning message-->
                        <div class="alert alert-danger" ng-show="payment.method === 'bs-system' && (!addresses.length || !accounts.length)">
                            <strong>Warning!</strong>You must add both <a href="/setting" class="alert-link">an address and account</a> before continue paying process.
                        </div>

                        <form name="addressForm" class="form-horizontal" action="" method="POST">

                            <!-- Main raido buttons -->
                            <h5>Choosing your payment method</h5>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="methodRadio" id="paypal" value="paypal" ng-model="payment.method"><i class="bf-paypal"></i> Paypal
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="methodRadio" id="credit-card" value="credit-card" ng-model="payment.method"><i class="fa fa-credit-card"></i> Credit card
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="methodRadio" id="bs-system" value="bs-system" ng-model="payment.method"><i class="fa fa-shopping-cart"></i> BookStore System
                                </label>
                            </div>

                            <!-- Credit card -->
                            <div ng-show="payment.method === 'credit-card'">
                                <hr>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First name</label>
                                    <div class="col-sm-9">
                                        <input ng-model="payment.firstName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last name</label>
                                    <div class="col-sm-9">
                                        <input ng-model="payment.lastName" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="radio col-sm-offset-3" style="margin-bottom: 15px;">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="payment.cardType" name="cardRadio" value="visa"><i class="bf-cc-visa" style="vertical-align: text-top;"></i>
                                        Visa
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="payment.cardType" name="cardRadio" value="mastercard"><i class="bf-cc-mastercard" style="vertical-align: text-top;"></i> Master card
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="payment.cardType" name="cardRadio" value="amex"><i class="bf-cc-amex" style="vertical-align: text-top;"></i>
                                        Amex
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="payment.cardType" name="cardRadio" value="discover"><i class="bf-cc-discover" style="vertical-align: text-top;"></i> Discover
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Expire month</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="payment.expireMonth" name="expire-month" ng-options="months.indexOf(month) as month for month in months"  required>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Expire year</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="payment.expireYear" name="expire-month" ng-options="year for year in years" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Card number</label>
                                    <div class="col-sm-9">
                                        <input ng-model="payment.cardNumber" type="number" class="form-control" min="1000000000000000" max="9999999999999999" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">CVV</label>
                                    <div class="col-sm-9">
                                        <input ng-model="payment.cvv" type="number" class="form-control" min="100" max="999" required>
                                    </div>
                                </div>
                            </div>

                            <!-- BookStore System -->
                            <div ng-show="payment.method === 'bs-system' && addresses.length && accounts.length && !modalBody">
                                <!-- Load addresses and accounts-->
                                <div ng-init="loadAddresses()"></div>
                                <div ng-init="loadAccounts()"></div>
                                <hr>
                                <h5>Choosing your address</h5>
                                <div class="radio" ng-repeat="address in addresses track by $index">
                                    <label>
                                        <input type="radio" name="addressRadio" id="address-{[ $index ]}" ng-value="$index" ng-model="$parent.payment.address">{[ address.street ]}, {[ address.city ]}, {[ address.country ]}, {[ address.zipcode ]}
                                    </label>
                                </div>
                                <br>
                                <h5>Choosing your payment account</h5>
                                <div class="radio" ng-repeat="account in accounts track by $index">
                                    <label>
                                        <input type="radio" name="accountRadio" id="account-{[ $index ]}" ng-value="account.id" ng-model="$parent.payment.account">{[ account.accountId ]}, {[ account.type ]} (Balance: {[ account.balance | number:2 ]} euros)
                                    </label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer" ng-hide="modalBody">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button ng-disabled="!payment.method" type="button" class="btn btn-primary" ng-click="handlePayment()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
